.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #1d2410;
  z-index: 2;
  transition: background-color 0.5s;
}

.nav__left {
  margin: 10px 10px;
}

.nav__left > img {
  object-fit: contain;
  width: 300px;
}

.nav__right {
  display: flex;
  align-items: center;
  margin: 10px 30px;
}

.nav__link {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-left: 25px;
  margin-top: 15px;
  transition: all 0.5s;
}

.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
