.comment {
  position: relative;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 100px;
  padding-bottom: 30px;
  width: fit-content;
  border-radius: 5px;
  animation: comment__appear 0.5s ease-out 1 forwards;
  opacity: 0;
}

.comment__user {
  color: teal;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.comment__professionalAffiliation {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
  color: teal;
}

.comment__content {
  font-size: 15px;
  margin: 10px 0;
}

.comment__date {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin: 0;
}

@keyframes comment__appear {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
