.shapeDivider {
  position: absolute;
  bottom: -101px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shapeDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.shapeDivider .shape-fill {
  fill: #ffffff;
}
